# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.wsuo
*.vsidx
/Lab3/Lab3/.vs/Lab3/FileContentIndex/read.lock
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
